<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">


<!-- This fragment accepts the "stock" and presents its transactions in a table
 -->
<th:block th:fragment="stockTransactionsTableFragment">

    <section class="u-align-center u-clearfix u-palette-1-base u-section-2"
             id="carousel_adf2" style="padding-bottom: 100px;">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-custom-font u-text u-text-font u-text-1">Transactions
                Table</h2>
            <p class="u-text u-text-2">Here you can view the transactions
                made in the stock</p>
            <th class="u-expanded-width u-table u-table-responsive u-table-1">
                <table class="u-table-entity u-table-entity-1">

                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>

                    <thead
                            class="u-palette-5-dark-2 u-table-header u-table-header-1">
                    <tr style="height: 46px;">
                        <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">
                            TimeStamp
                        </th>
                        <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">
                            Quantity
                        </th>
                        <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">
                            Price ($)
                        </th>
                    </tr>
                    </thead>
                    <tbody class="u-palette-5-dark-3 u-table-body u-table-body-1">
                    <tr style="height: 70px;"
                        th:id="thisStocks"
                        th:if="${#lists.isEmpty(stock.dataBase.successfullyFinishedTransactions.getCollection())}">
                        <td colspan="3" style="text-align:center;">
                            No Transactions Made
                        </td>
                    </tr>
                    <tr style="height: 70px;"
                        th:each="transaction : ${stock.dataBase.successfullyFinishedTransactions.getCollection()}">
                        <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-5">
                            <span th:text="${transaction.timeStamp}">TimeStamp
                            </span>
                        </td>
                        <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-6">
                            <span th:text="${transaction.quantity}">Quantity</span>
                        </td>
                        <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-7">
                        <span th:text="${transaction.getPriceCurrency()}">
                            Price ($)</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>

    </section>


</th:block>


</html>