<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h2>Submitted File</h2>
<table>
    <tr>
        <td>OriginalFileName:</td>
        <td th:text="${file.originalFilename}"></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td th:text="${file.contentType}"></td>
    </tr>
</table>

<a th:href="@{/signed}"> Return</a>
</body>
</html>