<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" type="image/png" href="images/tie.png"/>
    <title>Upload</title>
</head>
<body>

<h1>File upload</h1>

<form method="POST" th:action="@{/upload}" enctype="multipart/form-data"
      th:object="${userDTO}">

    <input th:id="nameID" th:type="hidden" th:field="*{name}">
    <script th:inline="javascript">

        // Get the userName from localStorage, and set it as output parameter:
        let localStorageUsername = localStorage.getItem("user");
        document.getElementById("nameID").value = localStorageUsername;
    </script>

    <table>
        <tr>
            <td><label path="file">Select a file to upload</label></td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>


<!-- RETURN BUTTON DYNAMIC : GET REQUEST -->
<form method="GET" th:action="@{/signed}" th:object="${userDTO}">

    <input th:id="nameIDGET" th:type="hidden" th:field="*{name}">
    <script th:inline="javascript">

        // Get the userName from localStorage, and set it as output parameter:
        document.getElementById("nameIDGET").value = localStorageUsername;
    </script>
    <input type="submit" value="Return"/>

</form>



</body>
</html>