<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" type="image/png" href="images/tie.png"/>
    <title>upload</title>

<!--    <script th:inline="javascript">-->

<!--        // check if this user is signed in.-->
<!--        if (localStorage.getItem("user") === null) {-->
<!--            location.replace("home.html");-->
<!--        }-->
<!--    </script>-->
</head>
<body>

<h1>Spring Boot file upload example</h1>

<form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label path="file">Select a file to upload</label></td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

<a th:href="@{/signed}"> Return</a>
<!-- FIXME : need to return User object, from the Engine.getUserByName
        (localStorage.getItem("user")) -->

</body>
</html>