<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" th:id="thisHTML">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <!--    <script class="u-script" type="text/javascript" src="jquery-1.9.1.min.js"-->
    <!--            defer=""></script>-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
            type="text/javascript"></script>
    <script th:src="@{/context-path-helper.js}"></script>
    <script th:src="@{/sign/Login_v4/js/main.js}"></script>
</head>
<body>
Hello
<span th:text="${name}"></span>
, the time is:
<span th:text="${time}"></span>

<script th:inline="javascript">

    let timeElement = document.getElementById("thisHTML");

    function ajaxGenericGet() {
        // let URL = buildUrlWithContextPath("123");

        // DO GET
        $.ajax({
            type: "GET",
            url: "",

            success: function (result) {
                    timeElement.innerHTML = result;
            },
            error: function (e) {
                timeElement.value = "ERROR: FAIL";
                console.log("ERROR: ", e);
            }
        });
    }

    setInterval(ajaxGenericGet, 100);

</script>


</body>
</html>