<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" th:id="thisHTML">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <!--    <script class="u-script" type="text/javascript" src="jquery-1.9.1.min.js"-->
    <!--            defer=""></script>-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
            type="text/javascript"></script>
    <script th:src="@{/sign/Login_v4/js/main.js}"></script>
</head>
<body>
Hello
<span th:text="${name}"></span>
, the time is:
<span th:text="${time}"></span>


<!--===============================================================================================-->
<!-- My Javascript -->
<script th:src="@{/ajax/ajax-generic-get.js}"></script>
<!--===============================================================================================-->

</body>
</html>