<!DOCTYPE html>
<html lang="en" style="font-size: 16px;"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="usersListFragment(signedInUsersList)">

    <link rel="stylesheet" th:href="@{/users/users-list.css}" type="text/css">

    <div class="leaderboard">
        <header>
            <h1 class="leaderboard__title">
                <span class="leaderboard__title--top">Users</span>
                <span class="leaderboard__title--bottom">
                viewing all signed-in users
                </span>
            </h1>
        </header>


        <div class="leaderboard__profiles">


            <th:block th:each="userDTO : ${signedInUsersList}">


                <article class="leaderboard__profile">
                    <img alt="Mark Zuckerberg"
                         class="leaderboard__picture"
                         th:src="@{/users/images/admin.png}">
                    <span class="leaderboard__name">Mark Zuckerberg</span>
                    <span class="leaderboard__value">35.7<span>B</span></span>
                </article>

                <!--            <article class="leaderboard__profile">-->
                <!--                <img alt="Dustin Moskovitz"-->
                <!--                     class="leaderboard__picture"-->
                <!--                     th:src="@{/users/images/user.png}">-->
                <!--                <span class="leaderboard__name">Dustin Moskovitz</span>-->
                <!--                <span class="leaderboard__value">9.9<span>B</span></span>-->
                <!--            </article>-->

<!--                <label th:text="${userDTO}"></label>-->

                <article
                        th:replace="fragments/users/user-row-users-list-fragment :: userFragment(${userDTO})">
                </article>


                <!--            <article class="leaderboard__profile">-->
                <!--                <img alt="Evan Spiegel"-->
                <!--                     class="leaderboard__picture"-->
                <!--                     th:src="@{/users/images/admin.png}">-->
                <!--                <span class="leaderboard__name">Evan Spiegel</span>-->
                <!--                <span class="leaderboard__value">2.1<span>B</span></span>-->
                <!--            </article>-->


            </th:block>
        </div>
    </div>


</th:block>

</html>