/*
    Documentation:
    https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#titledpane
*/

.titled-pane > .title {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 10 10 0 0, 10 10 0 0, 10 10 0 0;
    /*-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; !* 2 10 3 10 *!*/
    /*-fx-background-color: rgb(211, 211, 211);*/
    -fx-border-color: rgb(211, 211, 211);
    -fx-border-radius: 10 10 0 0, 10 10 0 0, 10 10 0 0;
}

.titled-pane:focused > .title {
    -fx-color: -fx-focus-color;
    -fx-border-color: -fx-focus-color;
}

.titled-pane > *.content {
    /*-fx-padding: 0.167em;*/
    -fx-background-color: rgba(255, 255, 255, 0);
}

.accordion {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.accordion {
    -fx-font: 16 sans-serif;
}

.label {
    -fx-font: 18 sans-serif;
}
